<h6>Add Client</h6>
<div class="row">
  <div class="col-md-3 col-sm-4 mb-md">
    <label>Client Name</label>
    <input type="text" class="form-control"/>
  </div>
  <div class="col-md-3 col-sm-4">
    <label>Owner FirstName</label>
    <input type="text" class="form-control"/>
  </div>
  <div class="col-md-3 col-sm-4">
    <label>Owner LastName</label>
    <input type="text" class="form-control"/>
  </div>
  <div class="col-md-3 col-sm-4">
    <label>Category</label>
    <select  class="form-control">
      <option value="">Select</option>
      <option value="Clinic">Clinic</option>
      <option value="Store">Store</option>
    </select>
  </div>
</div>
<h6>Address</h6>
<div class="row">
  <div class="col-md-3 col-sm-4 md-md">
    <label>House No.</label>
    <input type="text" class="form-control"/>
  </div>
  <div class="col-md-3 col-sm-4">
    <label>Street</label>
    <input type="text" class="form-control"/>
  </div>
  <div class="col-md-3 col-sm-4">
    <label>Street1</label>
    <input type="text" class="form-control"/>
  </div>
  <div class="col-md-3 col-sm-4">
    <label>Street2</label>
    <input type="text" class="form-control"/>
  </div>
  <div class="col-md-3 col-sm-4">
    <label>Street3</label>
    <input type="text" class="form-control"/>
  </div>
  <div class="col-md-3 col-sm-4">
    <label>Street4</label>
    <input type="text" class="form-control"/>
  </div>
  <div class="col-md-3 col-sm-4">
    <label>pincode</label>
    <input type="text" class="form-control"/>
  </div>
  <div class="col-md-3 col-sm-4">
    <label>Country</label>
    <select  class="form-control">
      <option value="" >Select</option>
      <option value="India">India</option>
    </select>
  </div>
  <div class="col-md-3 col-sm-4">
    <label>State</label>
    <select  class="form-control">
      <option value="" >Select</option>
      <option value="Maharashra">Maharashtra</option>
    </select>
  </div>
  <div class="col-md-3 col-sm-4">
    <label>City</label>
    <select  class="form-control">
      <option value="" >Select</option>
      <option value="Mumbai">Mumbai</option>
    </select>
  </div>
  <div class="col-md-3 col-sm-4 d-flex align-items-end">
    <button class="btn btn-primary mr-sm" ><i >Geolocation Search</i></button>
  </div>
</div>
<div class="mt-md mb-md">
  <h6>Location</h6>
</div>
<div class="row">
  <div class="col-md-3 col-sm-4">
    <label>Longitude</label>
    <input type="text" class="form-control"/>
  </div>
  <div class="col-md-3 col-sm-4">
    <label>latitude</label>
    <input type="text" class="form-control"/>
  </div>
</div>
<div class="mt-md mb-md">
  <h6>Days of Operation</h6>
</div>
<div class="row">
  <div class="col-md-3 col-sm-4">
    <label>Day of Week</label>
    <select  class="form-control">
      <option value="" >Select</option>
      <option value="Monday">Monday</option>
      <option value="Tuesday">Tuesday</option>
      <option value="Wednesday">Wednesday</option>
      <option value="Thursday">Thursday</option>
      <option value="Friday">Friday</option>
      <option value="Saturday">Saturday</option>
      <option value="Sunday">Sunday</option>
    </select>
  </div>
  <div class="col-md-3 col-sm-4">
    <label>No. of Tokens allowed</label>
    <input type="text" class="form-control"/>
  </div>
  <div class="col-md-3 col-sm-4">
    <label>From Time</label>
    <input type="time" class="form-control"/>
  </div>
  <div class="col-md-3 col-sm-4">
    <label>To Time</label>
    <input type="time" class="form-control"/>
  </div>
  <div class="col-md-3 col-sm-5 d-flex align-items-end">
    <button class="btn btn-primary mr-sm" ><i >Add</i></button>
  </div>
</div>
