/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/*@import "~font-awesome/css/font-awesome.css";*/

.mr-sm
{
    margin-right: 1rem
}

.mt-md
{
    margin-top : 15px
}

.mb-md {
    margin-bottom : 15px
}

.ml-lg
{
    margin-left:   15px
}

.router-style
{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.mt-lg
{
    margin-top : 5rem;
}

.header-color
{
    text-align: center;
    color: #007bff;
    font-weight: bold;
    font-size: 24px;
}

/*.table
{
display: block;
  height: 40%;
  overflow-y: scroll;
}*/

.form-control {
    border: 0;
    border-bottom: 1px solid black;
    box-shadow: 0 0 0;
    color: #505254;
    font-weight: 400;
    padding: 0 12px 2px 0;   
    background-color: transparent;
}

.form-control:focus {
  /*border-color: inherit;*/
  /*-webkit-box-shadow: none;*/
  box-shadow: none;
}