/* You can add global styles to this file, and also import other style files */
.mr-sm
{
    margin-right: 1rem
}

.mt-md
{
    margin-top : 15px
}

.mb-md {
    margin-bottom : 15px
}

.ml-lg
{
    margin-left:   15px
}