<div class="row mb-md">
    <div class="col-sm-12">
        <div class="header-color">Sign up Q-Assist</div>
    </div>
</div>
<!--<form [formGroup]="registerForm">
    <div class="form-group" *ngIf="pageCount === 1">
        <input type="text" formControlName="firstName" validateInput restrict="alpha" placeholder="Enter First Name" class="form-control"
        [ngClass]="{ 'is-invalid': !validInputs.firstName }" (change)="onChangeInput($event, 3, 'firstName')"/>
        <div *ngIf="!validInputs.firstName" class="invalid-feedback">First Name must be at least 3 characters</div>
    </div>
    <div class="form-group" *ngIf=" pageCount === 1">
        <input type="text" formControlName="lastName" placeholder="Enter Last Name" class="form-control"
        [ngClass]="{ 'is-invalid': !validInputs.lastName }" (change)="onChangeInput($event, 3, 'lastName')"/>
        <div *ngIf="!validInputs.lastName" class="invalid-feedback">Last Name must be at least 3 characters</div>
    </div>
    <div class="form-group" *ngIf="pageCount === 2">
        <input type="text" formControlName="username" class="form-control" placeholder="Enter User Name"
        [ngClass]="{ 'is-invalid': !validInputs.username }" (change)="onChangeInput($event, 3, 'username')" />
        <div *ngIf="!validInputs.username" class="invalid-feedback" >Username must be at least 3 characters</div>
    </div>
    <div class="form-group" *ngIf="pageCount === 2">
        <input type="password" formControlName="password" class="form-control" placeholder="Enter Password"
        [ngClass]="{ 'is-invalid': !validInputs.password }" (change)="onChangeInput($event, 3, 'password')"/>
        <div *ngIf="!validInputs.password" class="invalid-feedback">Password must be at least 3 characters</div>
    </div>
    <div class="form-group" *ngIf="pageCount === 2">
      <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Re-enter Password"
      [ngClass]="{ 'is-invalid': !validInputs.confirmPassword }" (change)="onChangeInput($event, 3, 'confirmPassword')"/>
      <div *ngIf="!validInputs.confirmPassword" class="invalid-feedback">Confirm Password does not match</div>
    </div>

    <div class="form-group" *ngIf="pageCount === 3">
        <input type="text" formControlName="mobileNo" validateInput restrict="number" class="form-control" [maxlength]="mobileLength"
        placeholder="Enter Mobile Number" [ngClass]="{ 'is-invalid': !validInputs.mobileNo }"
        (change)="onChangeInput($event, mobileLength , 'mobileNo')"/>
        <div *ngIf="!validInputs.mobileNo" class="invalid-feedback">Mobile Number must be of {{mobileLength}} digits</div>
    </div>

    <div class="form-group" *ngIf="pageCount === 3 && validInputs.mobileNo && registerForm.get('mobileNo').value.length === mobileLength">
        <input type="number" formControlName="mobileOtp" class="form-control" placeholder="Enter OTP" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.mobileOtp.errors" class="invalid-feedback">
            <div *ngIf="f.mobileOtp.errors.required">Mobile Number is required</div>
        </div>
    </div>

    <div class="form-group text-center">
        <button *ngIf="pageCount > 1" class="btn btn-link left" (click)="onPreviousClick()"><i class="fa fa-chevron-circle-left fa-2x"></i></button>
        <button *ngIf="pageCount < 3" class="btn btn-link right" (click)="onNextClick()" [disabled]="isDisabled()"><i class="fa fa-chevron-circle-right fa-2x"></i></button>
        <button [disabled]="isSubmitDisabled()" *ngIf="pageCount === 3" class="btn btn-link right" (click)="onSubmit()" ><i class="fa fa-thumbs-o-up fa-2x"></i></button>
    </div>
</form>-->
